@import url(//db.onlinewebfonts.com/c/60aac436cf574f6b472101fdbd23bfa1?family=ITC+Korinna);
@font-face {font-family: "ITC Korinna"; src: url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.eot"); src: url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.woff") format("woff"), url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/60aac436cf574f6b472101fdbd23bfa1.svg#ITC Korinna") format("svg"); }

/*h1{
    font-family:"ITC Korinna";
    color:white;
    text-align: center;
}*/
body{
    background-color: blue;
}
.questions{
    background-color: Blue;
    font-style: Arial;
}

.next{
    background-color:yellow;
    color: black;
}
.next:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.center{
    text-align: center;
    color: white;
    font-family: ITC Korinna;
    font-size: 2em;
    padding-top: 3%;
}
p{
    left:5px;
}
.points{
    color:white;
    box-sizing: border-box;
    float:left;
    border: 2px solid white;
    border-collapse:collapse;
    font-size: 30px;
}

.back{
    width: 30px;
    height: 15px;
    position: absolute;
    left: 10px; 
    bottom: 10px;
}

img{
    height:15px;
    width:30px;
    left:2px;
    bottom:10px;
}